/* BOOTSTRAP */
.container-fluid {
	padding: 0px;
}

/* CUSTOM */
.main-layout {
	margin-left: 5%;
	margin-right: 5%;
}

.hk-header {
	padding: 15px 0 15px 0;
}
.hk-header-items {
	height:150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.hk-header-nav {
	font-size: 16px;
	letter-spacing: 3px;
}
.hk-header-nav a{
	color: #666666;
}
.hk-header-nav a:hover{
	color: black;
}


/*
.box-lead {
	width: 100%;
	min-height: 900px;
	max-height: 1500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
}

.post-set{
	padding: 33px;
	position: absolute;
	bottom: 0;
}
.post-category {
	text-transform: uppercase;
	opacity: 0.66;
}
.post-headline h2 {
	font-size: 550%;
	font-weight: 900;
	margin: 0;
}
.post-date {
	text-transform: uppercase;
	opacity: 0.66;
}
*/