/* BOOTSTRAP */
.container-fluid {
	padding: 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


/* CUSTOM */


/* MAIN LAYOUT */
.main-layout {
	margin-left: 5%;
	margin-right: 5%;
}

/* HEADER */
.site-header {
	padding: 20px 0 20px 0;
}
.site-header-items {
	height:150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.site-header-nav {
	font-size: 16px;
	letter-spacing: 3px;
}
.site-header-nav a {
	color: #666666;
}
.site-header-nav a:hover {
	color: black;
}

.leadimage {
	margin: auto;
	position: relative;
    width: 100%;
    padding-bottom: 56%;
    float: left;
    height: 0;
}
.leadimage img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.post {
	padding-top: 20px;
}
.post-leftrail {
	border-left: 2px solid rgba(125,  66,  0, 0.25);
}
.post-rightrail {
	border-right: 2px solid rgba(125,  66,  0, 0.25);
}
.post-mainrail img {
	width="100%";
	height="auto";
	padding-top: 20px;
	padding-bottom: 40px;
}

.post-text-category {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgba(170,  130,  60, 1);
}
.post-text-headline {
	font-size: 550%;
	font-weight: 900;
	color: black;
	letter-spacing: -1px;
}
.post-text-dateline {
	padding: 20px 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: grey;
}
.post-text-body {
	line-height: 35px;
	letter-spacing: -0.072px;
	font-size: 22px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8)
}
.post-text-body p {
	padding-bottom: 10px;
}
p {
	width: 75%;
}
.post-text-subsection {
	font-weight: 900;
	color: rgb(125,  66,  0);
	padding-top: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.post-text-recipe {
	line-height: 25px;
	letter-spacing: -0.072px;
	font-size: 22px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8)
}

/*
.box-lead {
	width: 100%;
	min-height: 900px;
	max-height: 1500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
}

.post-set{
	padding: 33px;
	position: absolute;
	bottom: 0;
}
.post-category {
	text-transform: uppercase;
	opacity: 0.66;
}
.post-headline h2 {
	font-size: 550%;
	font-weight: 900;
	margin: 0;
}
.post-date {
	text-transform: uppercase;
	opacity: 0.66;
}
*/