/* BOOTSTRAP */
.container-fluid {
	padding: 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
hr {
	opacity: .25;
}


/* CUSTOM */


/* MAIN LAYOUT */
.main-layout {
	margin-left: 5%;
	margin-right: 5%;
}

/* HEADER */
.site-header {
	padding: 20px 0 20px 0;
}
.site-header-items {
	height:150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.site-header-nav {
	font-family: "brandon-grotesque", "Helvetica Neue", "helvetica", "arial", sans-serif;
	font-size: 16px;
	letter-spacing: 3px;
}
.site-header-nav a {
	color: #666666;
}
.site-header-nav a:hover {
	color: black;
}

/* LEAD IMAGE */
.leadimage {
	margin: auto;
	position: relative;
    width: 100%;
    padding-bottom: 56%;
    float: left;
    height: 0;
}
.leadimage img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

/* POST MAIN */
.post {
	padding-top: 20px;
}
.post-leftrail {
	border-left: 2px solid;
	opacity: .25;
}
.post-mainrail img {
	width="100%";
	height="auto";
	padding-top: 20px;
	padding-bottom: 40px;
}

/* POST TEXT */
.post-text-category {
	font-family: "brandon-grotesque", "Helvetica Neue", "helvetica", "arial", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.post-text-headline {
	font-family: "brandon-grotesque", "Helvetica Neue", "helvetica", "arial", sans-serif;
	font-size: 550%;
	font-weight: 900;
	color: black;
	letter-spacing: -1px;
}
.post-text-description {
	font-family: "skolar", "georgia", serif;
	line-height: 40px;
	letter-spacing: -0.072px;
	font-size: 40px;
	font-weight: 100;
	color: rgba(0, 0, 0, .8);
	width: 75%;
}
.post-text-dateline {
	font-family: "brandon-grotesque", "Helvetica Neue", "helvetica", "arial", sans-serif;
	padding: 60px 0 0px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: grey;
}
.post-text-body {
	font-family: "skolar", "georgia", serif;
	line-height: 35px;
	letter-spacing: -0.072px;
	font-size: 22px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
}
.post-text-body p {
	padding-bottom: 10px;
}
.post-text p {
	width: 75%;
}

/* POST RECIPE */
.post-text-recipe {
	line-height: 25px;
	letter-spacing: -0.072px;
	font-size: 22px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
	width: 66%;
}
.post-text-recipe h2 {
	font-weight: 900;
	color: rgb(125,  66,  0);
	padding-top: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.post-text-recipe p {
	padding-bottom: 0px;
}

/* SPONSORED */
.sponsored {
	padding: 50px 0 50px 0;
	text-align: center;
}
.sponsored-headline {
	text-transform: uppercase;
	font-size: 22px;
	line-height: 10px;
	padding-top: 15px;
}
.sponsored-notice {
	font-size: 15px;
	line-height: 0px;
	padding: 0 0 15px 0;
}
.sponsored a {
	color: rgb(104, 24, 18);
}
.sponsored-header hr {
	opacity: .5;
	padding: 10px;
	border: none;
	border-top: medium double #222;
	color: #222;
	text-align: center;
}
.sponsored-header hr:after {
	text-transform: uppercase;
	letter-spacing: 4px;
	content: "A word from our sponsor";
	display: inline-block;
	position: relative;
	top: -24px;
	font-size: 12px;
	padding: 0 10px;
	background: white;
	color: rgb(104, 24, 18);
}
.sponsored-footer hr {
	opacity: .5;
	padding: 10px;
	border: none;
	border-top: medium double #222;
	color: #222;
	text-align: center;
}

/* FOOTER */
.footer {
	padding: 20px;
	margin: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 10px;
	letter-spacing: 2px;
}
.footer img {
	padding-bottom: 35px;
}
.footer-note {
	opacity: .5;
}
.footer a{
	color: white;
	text-decoration: underline;
	border-color: rgba(0,0,0, .5);
}